# OS X cruft
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows cruft
Thumbs.db
Desktop.ini

# Editors
.idea/
*.iml
.vscode/
.calva/
.lsp/
.clj-kondo/

# Scala
.sbtopts
.jvmopts
.metals/
.bloop/

# Python
__pycache__/
.python-version
.pytest_cache
.venv/
.tox/
.mypy_cache/
*.pyc
*.egg-info/

# Sdkman
.sdkmanrc

# Ruby
.ruby-version

# asdf
.tool-versions

# mise
.mise.toml
mise.toml

# redis stuff
dump.rdb
.ignore

**/.claude/settings.local.json
