[user]
    name = Gilad Peleg
    email = giladp007@gmail.com
[core]
    autocrlf = input
    excludesfile = ~/.dotfiles/gitignore_global.txt
[push]
    default = matching
[color]
    interactive=auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
[alias]
    st = status
    ch = checkout
    br = branch
    co = commit
    pu = push
    fe = fetch
    stats = !git shortlog -sn master | head
    freq = !history | cut -c 8- | grep git | sort | uniq -c  | sort -n -r | head -n 5
