alias sysup="sudo apt-get autoclean -y && sudo apt-get autoremove -y && sudo apt-get update -y && sudo apt-get upgrade -y && sudo apt-get dist-upgrade -y"

# reboot / halt / poweroff
alias reboot='sudo /sbin/reboot -r now'
alias poweroff='sudo /sbin/poweroff -r now'
alias halt='sudo /sbin/halt -r now'
alias shutdown='sudo /sbin/shutdown -r now'

function gli() {
    echo "Running npm install $1-$2 --save-dev"
    npm install $1-$2 --save-dev
}
# start simple server
alias serve="python -m SimpleHTTPServer"
