root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,html,jade,md}]
indent_size = 4

[*.{zsh-theme}]
indent_size = 4

[*.{yaml,yml,json}]
indent_size = 2

[*.js]
jslint_happy = true
