[user]
    name = Gilad Peleg
    email = giladp007@gmail.com
[core]
    autocrlf = false
    excludesfile = ~/.dotfiles/git/.gitignore_global
    attributesfile = ~/.dotfiles/.gitattributes
    editor = vim -w
    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false
[push]
    default = current
[color]
    interactive = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
    stat = true
    ff = only
[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix
[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1
[diff]
    # Detect copies as well as renames
    renames = copies
[fetch]
    prune = true
[alias]
    st = status
    ch = checkout
    br = branch
    co = commit
    pu = push
    fe = fetch
    ch- = checkout -
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[include]
    path = ~/.gitconfig.local
