[core]
    autocrlf = false
    excludesfile = ~/.dotfiles/git/.gitignore_global
    attributesfile = ~/.dotfiles/.gitattributes
    editor = vim
    pager = less -FRSX
    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
    # Make `git rebase` safer on OS X
    # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
    trustctime = false
[push]
    # Avoids pushing other branches by accident when using a plain “git push”.
    # Git will only push the branch you are on by default.
    # Note this will prevent the “Multiple working copies workflow” steps (shown below) from working.
    default = current
[branch]
    # Checking remote branches are setup with tracking by default
    autosetupmerge = true
    # always git pull --rebase, not more Merge commits spam
    ; autosetuprebase = always
[color]
    interactive = auto
    diff = auto
    branch = auto
    # Enable colored output for git commands
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 20
[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true
[diff]
    # Detect copies as well as renames
    renames = copies
[fetch]
    # Always prune remote-tracking branches
    # See http://albertogrespan.com/blog/always-prune-remote-tracking-branches/
    prune = true
[advice]
    pushNonFastForward = false
    statusHints = false
    commitBeforeMerge = true
    resolveConflict = true
    implicitIdentity = true
    detachedHead = true
[alias]
    br = branch
    ch = checkout
    ch- = checkout -
    co = commit
    fe = fetch
    pu = push
    st = status
    gl = log --oneline --decorate --stat --graph
    # print a pretty list of remote branches with last commit date and author name
    branches = !git for-each-ref --sort=-committerdate --format='%(committerdate:relative):%(authorname):%(refname:short)' refs/remotes | column -t -s:
[status]
    short = true
    # Always show paths relative to git root
    relativePaths = false
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[include]
    path = ~/.gitconfig.local
