[user]
    name = Gilad Peleg
    email = giladp007@gmail.com
[core]
    autocrlf = false
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.dotfiles/.gitattributes
    editor = vim -w
[push]
    default = current
[color]
    interactive = auto
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[merge]
    log = true
    stat = true
    ff = only
[fetch]
    prune = true
[alias]
    st = status
    ch = checkout
    br = branch
    co = commit
    pu = push
    fe = fetch
    ch- = checkout -
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[include]
    path = ~/.gitconfig.local
