snippet neol "NeoBundleLazy snippet"
NeoBundle '${1:package}', {
			\ 'lazy': 1,
			\  'autoload' : {
			\	$0
			\  }
			\ }
endsnippet

snippet ift "neobundle tap"
if neobundle#tap('${1:package name}')
	${VISUAL}$0
    call neobundle#untap()
endif
endsnippet
