{:linters {:unresolved-symbol {:exclude [(riemann.streams/where [service else state tagged])]}
           :shadowed-var {:level :warning}
           :unsorted-required-namespaces {:level :warning}}
 :lint-as {mount.core/defstate clojure.core/def}}
